h1 {
  color: white;
  font-family: 'Lemon/Milk light', papyrus, sans-serif;
  font-size: 6rem;
  text-align: center;
  -webkit-text-stroke: 0.005px #000000;
  text-shadow: 0px 0px 5px #000000;
  margin: auto;
}

.backdrop {
  margin: 0 auto;
  background-color: hsla(0, 0%, 0%, 70%);
  box-shadow: 0px 0px 20px #000000;
  padding: 5px;
}

video {
    display: block;
    margin: 0 auto;
}

.nt {
  color: white;
  font-family: 'Lemon/Milk light', papyrus, sans-serif;
  font-size: 3rem;
  text-align: center;
  -webkit-text-stroke: 0.005px #000000;
  text-shadow: 0px 0px 3px #000000;
  margin: auto;
}